<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" style="max-width: 90%;"/>
        {% endif %}

        
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <b> Contact: </b><a href="{{ site.mail. }}">{{ site.mail}}</a>
        <br>
        <br>
        <b>Social Networks: </b>
        <ul class="social-icons">
          {% if site.twitter %}
            <li><a href="https://twitter.com/{{ site.twitter}}"><i class="fab fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
          {% endif %}
          {% if site.github %}
            <li><a href="http://github.com/{{ site.github }}"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a></li>
          {% endif %}     
          {% if site.linkedin %}
            <li><a href="{{ site.linkedin }}"><i class="fab fa-linkedin" aria-hidden="true"></i> Linkedin</a></li>
          {% endif %}
          {% if site.googlescholar %}
            <li><a href="{{ site.googlescholar }}"><i class="fab fa-googlescholar" aria-hidden="true"></i> Google Scholar</a></li>
          {% endif %}   
     
        </ul>

      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
